* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #F8FAFE;

}

.container {
    width: 1500px;
    font-family: sans-serif;
    margin: 0 auto;
    padding-left: 50px;
    padding-right: 50px;
}

.site-title {
    max-width: 1400px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    font-weight: 700;
    font-size: 44px;
    padding-top: 19px;
    padding-bottom: 27px;
    top: 0;
    position: fixed;
    right: 15px;
    left: 15px;
    margin: 0 auto;
    background-color: #F8FAFE;
}

.site_title__logo {
    display: flex;
}

.site-title_ico {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px 0px;
    gap: 20px;
    width: 120px;
    height: 70px;
}


.site-title__store-name {
    color: #FF5722;
}

.site-title__ico {
    display: flex;
    user-select: none;

}


.site-title__karazina {
    box-sizing: border-box;
    height: 50px;
    width: 50px;
    position: relative;
    cursor: pointer;
}

.site-title__indicator {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    padding-bottom: 10px;
    cursor: pointer;
    top: -5px;
    right: 0px;
}

.site-title__number {
    font-size: 14px;
    background: #F36223;
    color: White;
    border-radius: 50px;
    padding: 3px 5px;
    min-width: 20px;
    min-height: 20px;
    line-height: 14px;
}

.site-title__like {
    height: 50px;
    width: 50px;
    position: relative;
    background-size: cover;
    background-position: right;
    cursor: pointer;
}


.breadcrumbs {
    margin: 0;
    padding: 0;
    list-style: none;
}

.breadcrumbs-item {
    display: inline-block;
    vertical-align: top;
    margin-right: 4px;
    margin-top: 100px;
}

.breadcrumbs-item:not(:last-child):after {
    content: ">";
    margin-left: 4px;
}

a {
    color: rgba(0, 140, 240, 1);
    line-height: 1;
    text-decoration: none;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

a:hover {
    color: rgba(243, 98, 35, 1)
}

a:active {
    color: #A93A09;
}


.b {
    font-weight: 700;
    font-size: 44px;

}



.phone {
    font-size: 32px;
    font-weight: 700;
    padding-top: 8px;
    padding-bottom: 30px;
}

.img {
    display: flex;
    align-items: center;
    justify-content: center;
}

.img img {
    height: 387px;
    padding-left: 10px;
}

.img .img__the-ferst {
    padding: 0px;
}

.img .img__the-last {
    padding: 0px;
}

.label img:hover {
    background: #F2F2F2;
    border: 1px solid #888888;
    border-radius: 4px;
}


.img-colors+img {
    box-sizing: border-box;
    width: 80px;
    height: 80px;
    background-color: #ffffff;
    border: 1px solid #888888;
    border-radius: 4px;
    cursor: pointer;
    padding: 10px 20px;
}

.img-colors:checked+img {
    border: 2px solid #F36223;
    border-radius: 4px;
}

.label img:active {
    border: 2px solid #A93A09;
    background-color: #ffffff;
}

.img__the-back {
    padding-right: 0px;
}

.main-part {
    display: flex;
    box-sizing: border-box;
}

.main-part_aside {
    display: flex;
    flex-direction: column;
}

.img-colors {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

.sidebar {
    top: 0px;
    position: inherit;
}


.sidebar__head {
    display: flex;
    flex-direction: column;
    gap: 40px;
    font-weight: 400;
    font-size: 16px;
    margin-left: 100px;
    margin-top: 30px;
}

.side-panel {
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

.sidebar__price-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    gap: 15px;
    box-sizing: border-box;
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

.sidebar__price-box .sidebar__percent {
    margin: 10px;
    border: 1px solid #EEEEEE;
    background: #F36223;
    color: White;
    border-radius: 500px;
    padding-left: 8px;
    padding-top: 4px;
    padding-right: 8px;
    padding-bottom: 4px;
}

.sidebar__price-head {
    display: flex;
    gap: 219px;
}

.sidebar__ico-like {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.sidebar__ico-like path:hover {
    fill: #F36223;
}

.sidebar__ico-like path:active {
    fill: #A93A09
}

.sidebar__price-old {
    color: #888888;
    padding-bottom: 10px;
}

.sidebar__price {
    font-weight: 500;
    font-size: 32px;

}

.sidebar__indent_first {
    margin-top: 5px;
    font-weight: 400;
    font-size: 16px;
}

.sidebar__indent_second {
    padding-bottom: 25px;
}

.sidebar__button-danger {
    display: flex;
    gap: 15px;
    justify-content: center;
    background: #F36223;
    border: 1px solid #EEEEEE;
    border-radius: 4px;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    padding: 20px;
    width: 100%;
}

.sidebar__button-danger:hover {
    background-color: #FF5722;
}

.sidebar__button-danger:active {
    background: #A93A09;
}

.sidebar__button-danger::before {
    content: '';
    display: inline-block;
    color: white;
    width: 24px;
    height: 24px;
    background-image: url("../ico/karazina.svg");
    background-repeat: no-repeat;
    background-position: center center;
}

.sidebar__iframe {
    display: flex;
    flex-direction: column;
    float: right;
}

.sidebar__iframe iframe {
    border: 1px dashed #888888;
    background: #F0F0F0;
    margin-bottom: 15px;

}

.sidebar__iframe-advertisement {
    font-weight: 400;
    font-size: 14px;
    color: #888888;
    margin-bottom: 10px;
}

.specifications {
    box-sizing: border-box;
}

.specifications_technical {
    font-weight: 700;
    font-size: 16px;
    padding-top: 30px;
    padding-bottom: 15px;
}

.specifications__ulu {
    display: flex;
    flex-flow: column;
    padding-left: 17px;
    font-weight: 500;
    line-height: 19px;
}

.specifications__ulu b {
    font-weight: 700;

}

li::marker {
    color: rgba(136, 136, 136, 1);
}

.specifications__change-color-link {
    font-weight: bold;
}

.specifications__list {
    padding-bottom: 10px;
}

.description {
    font-weight: 700;
    padding-bottom: 15px;
    padding-top: 30px;
}

.form_radio_btn {
    box-sizing: border-box;
    display: inline-block;
    margin-right: 10px;
}

.form_radio_btn input {
    display: none;
}

.form_radio_btn label {
    display: inline-block;
    cursor: pointer;
    font-weight: 500;
    padding: 10px 20px;
    outline: 1px solid #888888;
    border-radius: 4px;
    user-select: none;
}

.form_radio_btn input:checked+label {
    background: white;
    outline: 2px solid #F36223;
    border-radius: 4px;
}

.form_radio_btn:hover {
    outline: 1px solid #888888;
    background: #F2F2F2;
    border-radius: 4px;

}

.form_radio_btn:active {
    outline: 2px solid #A93A09;
    border-radius: 4px;
}

.description_product {
    padding-bottom: 15px;
    padding-top: 20px;
}


.paragraphs {
    font-weight: 500;
}

.paragraphs i {
    font-weight: 400;
}

.paragraphs p {
    padding-top: 15px;
    padding-bottom: 15px;
    font-weight: 500;
    font-size: 16px;
    color: #000000;
}

.comparison-models_title {
    padding-top: 15px;
    padding-bottom: 15px;
    font-weight: bold;
    font-size: 16px;
}

.comparison-models_table {
    font-weight: bold;
    font-size: 16px;
    padding: 10px;
    border-collapse: collapse;
    border-top: 1px solid rgba(136, 136, 136, 1);
    border-left: 1px solid rgba(136, 136, 136, 1);
    border-right: 1px solid rgba(136, 136, 136, 1);
    border-bottom: 1px solid rgba(136, 136, 136, 1);
}

.comparison-models_table th {
    font-weight: bold;
    padding: 10px;
    border-bottom: 1px solid rgba(136, 136, 136, 1);
    border-left: 1px solid rgba(136, 136, 136, 1);
    border-right: 1px solid rgba(136, 136, 136, 1);
}

.comparison-models_table td {
    font-weight: 400;
    padding: 10px;
    border-left: 1px solid rgba(136, 136, 136, 1);
    border-right: 1px solid rgba(136, 136, 136, 1);
}

tr:hover {
    background-color: #F2F2F2;
}

.review-section__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
}

.review-section__top-row {
    display: flex;
    gap: 10px;
}

.review-section__title {
    font-weight: 700;
    font-size: 24px;
}

.review-section__quantity {
    font-weight: 700;
    font-size: 24px;
    color: #888888;

}

.review {
    display: flex;
    gap: 30px;
    margin-top: 30px;
    margin-bottom: 40px;
}

.review__photo {
    width: 140px;
    height: 140px;
    flex-shrink: 0;
}

.review__name {
    font-weight: 700;
    font-size: 20px;
    margin: 0;
}

.review__rating {
    margin-top: 10px;
}

.review__opinions {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    font-size: 14px;
}

.review__opinion {
    margin-top: 10px;
}

.separator {
    margin-left: 170px;
    height: 1px;
    border: 1px dashed #888888;
}

.technical-support {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.technical-support_first {
    display: flex;
    flex-direction: column;
}

.block-form {
    padding-left: 170px;

}

.block-form_heading {
    margin-top: 60px;
    margin-bottom: 15px;
}

.block-form__first-line {
    display: flex;
    font-weight: 500;
    font-size: 16px;
    padding-bottom: 30px;
}

.block-form__name {
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-right: 40px;
    width: 495px;
    box-sizing: border-box;

}

.block-form__rating {
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 175px;
    box-sizing: border-box;
}


.block-form__second-line textarea {
    resize: none;
    width: 100%;
    height: 190px;
    padding-left: 20px;
    padding-top: 15px;
}

.block-form__footer {
    cursor: pointer;
    border-radius: 4px;
    padding: 10px 20px;
    margin-top: 30px;
    border: 0;
    margin-bottom: 100px;
    background: #F36223;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 16px;
}

@media (max-width: 1499px) {
    .container {
        max-width: 1024px;
        box-sizing: border-box;
        padding: 0 15px;
    }

    .site-title {
        max-width: 1024px;
        padding: 19px 15px;
    }

    .img img {
        height: 272px;
    }

    .main-part_aside {
        max-width: 594px;
    }

    .sidebar__head {
        width: 360px;
        margin-left: 40px;
    }

    .sidebar__price-head {
        display: flex;
        gap: 159px;
    }

    .sidebar__iframe iframe {
        width: 360px;
    }

    .comparison-models {
        display: none;
    }

    .review__photo {
        width: 100px;
        height: 100px;
    }

    .review__rating {
        width: 100px;
        height: 20px;
    }

    .separator {
        margin-left: 130px;
    }

    .block-form {
        padding: 0;
    }
}